@import '@fontsource/montserrat/500.css'; // using a font downloaded from npm
:root {
  --black-100: #000;
  --black-80: #343434;
  --black-60: #626262;
  --black-40: #959595;
  --black-20: #ccc;
  --white: #fff;
  --black-10: #e8e8e8;

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: Montserrat, sans-serif; // npm font
}
