.wrapper {
  background: var(--black-80);
  border: 1px solid var(--black-100);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  color: var(--white);

  div {
    display: flex;
    gap: 20px;
  }

  a {
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--white);
  }
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  margin-bottom: 10px;

  .logo {
    font-family: var(--third-family);
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px var(--black-100);

    color: var(--black-80);
  }

  .left {
    display: flex;
    gap: 30px;

    li {
      cursor: pointer;
      line-height: 150%;
      color: var(--black-80);
    }
  }
  .right {
    display: flex;
    gap: 20px;

    .input__wrapper {
      position: relative;
      border-radius: 15px;
      width: 282px;
      height: 40px;
      background: var(--black-10);
      padding: 10px 40px;

      img {
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    img {
      cursor: pointer;
    }
  }
}
